@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
a {
  text-decoration: none;
  color: unset;
}

h1, h2, h3, h4, h5, h6, p, li, ul {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6, p, a, span, li {
  font: "DM Sans", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
}

.container {
  margin: auto;
}

section {
  padding: 100px 0;
}

@media (min-width: 1150px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (min-width: 1270px) {
  .container {
    max-width: 1200px;
  }
}
@media (max-width: 1150px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 768px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }

  section {
    padding: 75px 0;
  }
}
header {
  padding: 7px 0;
  position: sticky;
  top: 0;
  z-index: 1;
}

nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
nav a {
  text-decoration: none;
}
nav .logo {
  font-size: 20px;
  font-weight: normal;
  display: flex;
  justify-content: initial;
  flex-wrap: wrap;
  align-items: center;
}
nav .logo img {
  padding-right: 50px;
}
nav .nav-links ul li {
  padding: 20px 0;
}
nav .nav-links ul {
  display: flex;
  justify-content: initial;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
nav .nav-links ul li a {
  padding: 0 25px;
  font-weight: normal;
  text-decoration: none;
  font-size: 15px;
  line-height: 1.25rem;
}
nav #nav-toggle {
  display: none;
  cursor: pointer;
}
nav div#nav-toggle span {
  border-bottom: 2px solid #fff;
  width: 22px !important;
  height: 2px;
}

@media (max-width: 1400px) {
  .nav-links ul li a {
    padding: 0 10px;
  }

  .nav-links {
    flex: initial;
  }

  .nav-links ul li {
    padding: 0px;
  }

  nav .logo img {
    padding-right: 0px;
  }
}
@media (max-width: 1200px) {
  header .container {
    max-width: 100%;
    padding: 0 15px;
  }

  nav {
    justify-content: space-between;
    padding: 10px 0;
  }
  nav #nav-toggle {
    display: initial;
  }
  nav .nav-links {
    display: none;
  }
  nav .nav-links.active + div#nav-toggle span:nth-child(1) {
    transform: rotate(45deg);
  }
  nav .nav-links.active + div#nav-toggle span:nth-child(2) {
    transform: translateY(-6px) rotate(137deg);
  }
  nav .nav-links.active + div#nav-toggle span:nth-child(3) {
    display: none;
  }
  nav .nav-links.active {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    align-items: center;
    position: absolute;
    flex-direction: column;
    top: 55px;
    left: 0;
    width: 100%;
    z-index: 1;
    padding: 0 15px;
  }
  nav .nav-links ul li a {
    padding: 0;
    width: 100%;
    display: block;
  }
  nav .nav-links.active ul li {
    padding: 15px 0px;
    text-align: left !important;
  }
  nav .nav-links.active ul {
    flex-direction: column;
  }
  nav .nav-links.active {
    display: flex;
    justify-content: initial;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 100px;
    flex-direction: column;
  }
  nav .nav-links ul {
    align-items: flex-start;
    width: 100%;
  }
  nav .nav-links ul li {
    width: 100%;
  }
  nav div#nav-toggle {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}
a {
  text-decoration: none;
  color: unset;
}

h1, h2, h3, h4, h5, h6, p, li, ul {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6, p, a, span, li {
  font: "DM Sans", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
}

.container {
  margin: auto;
}

section {
  padding: 100px 0;
}

@media (min-width: 1150px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (min-width: 1270px) {
  .container {
    max-width: 1200px;
  }
}
@media (max-width: 1150px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 768px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }

  section {
    padding: 75px 0;
  }
}
header {
  padding: 7px 0;
  position: sticky;
  top: 0;
  z-index: 1;
}

nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
nav a {
  text-decoration: none;
}
nav .logo {
  font-size: 20px;
  font-weight: normal;
  display: flex;
  justify-content: initial;
  flex-wrap: wrap;
  align-items: center;
}
nav .logo img {
  padding-right: 50px;
}
nav .nav-links ul li {
  padding: 20px 0;
}
nav .nav-links ul {
  display: flex;
  justify-content: initial;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
nav .nav-links ul li a {
  padding: 0 25px;
  font-weight: normal;
  text-decoration: none;
  font-size: 15px;
  line-height: 1.25rem;
}
nav #nav-toggle {
  display: none;
  cursor: pointer;
}
nav div#nav-toggle span {
  border-bottom: 2px solid #fff;
  width: 22px !important;
  height: 2px;
}

@media (max-width: 1400px) {
  .nav-links ul li a {
    padding: 0 10px;
  }

  .nav-links {
    flex: initial;
  }

  .nav-links ul li {
    padding: 0px;
  }

  nav .logo img {
    padding-right: 0px;
  }
}
@media (max-width: 1200px) {
  header .container {
    max-width: 100%;
    padding: 0 15px;
  }

  nav {
    justify-content: space-between;
    padding: 10px 0;
  }
  nav #nav-toggle {
    display: initial;
  }
  nav .nav-links {
    display: none;
  }
  nav .nav-links.active + div#nav-toggle span:nth-child(1) {
    transform: rotate(45deg);
  }
  nav .nav-links.active + div#nav-toggle span:nth-child(2) {
    transform: translateY(-6px) rotate(137deg);
  }
  nav .nav-links.active + div#nav-toggle span:nth-child(3) {
    display: none;
  }
  nav .nav-links.active {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    align-items: center;
    position: absolute;
    flex-direction: column;
    top: 55px;
    left: 0;
    width: 100%;
    z-index: 1;
    padding: 0 15px;
  }
  nav .nav-links ul li a {
    padding: 0;
    width: 100%;
    display: block;
  }
  nav .nav-links.active ul li {
    padding: 15px 0px;
    text-align: left !important;
  }
  nav .nav-links.active ul {
    flex-direction: column;
  }
  nav .nav-links.active {
    display: flex;
    justify-content: initial;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 100px;
    flex-direction: column;
  }
  nav .nav-links ul {
    align-items: flex-start;
    width: 100%;
  }
  nav .nav-links ul li {
    width: 100%;
  }
  nav div#nav-toggle {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}
.homeheading {
  margin-bottom: 60px;
}
.homeheading h3 + p {
  margin-top: 8px;
}
.homeheading h2 + p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.textgradient {
  background: linear-gradient(to right, #D0F495 43.71%, #5CB7C3 142.13%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a.link {
  color: #60CA9A;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: initial;
}

@media (max-width: 768px) {
  .getademo {
    display: flex;
    justify-content: space-between;
  }
}
.homebanner {
  padding: 40px 0 0;
}
.homebanner__details {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 20px;
  flex-wrap: nowrap;
}
.homebanner__text {
  flex-basis: 38%;
}
.homebanner__text h1 {
  font-family: "DM Sans", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 63px;
  letter-spacing: 0px;
}
.homebanner__text h1 span {
  font-size: 51px;
  font-style: normal;
  font-weight: 700;
  line-height: 63px;
  display: block;
}
.homebanner__text h1 + p {
  margin: 20px 0 30px;
}
.homebanner .investors {
  padding-left: 16px;
}
.homebanner .investors p {
  color: #777777;
  margin: 30px 0 10px;
}
.homebanner .inverstorsimage {
  display: flex;
  gap: 30px;
}
.homebanner__image p {
  text-align: right;
}
@media (max-width: 768px) {
  .homebanner h1, .homebanner h1 span {
    font-size: 44px;
    line-height: 56px;
  }
  .homebanner__text {
    flex-basis: 100%;
  }
  .homebanner__details {
    flex-wrap: wrap;
  }
  .homebanner .investors {
    padding-left: 0px;
  }
  .homebanner .investors p {
    margin: 20px 0 6px;
  }
  .homebanner__image {
    padding-top: 30px;
  }
  .homebanner__image p {
    text-align: center;
    line-height: 30px;
    margin-top: 15px;
    font-size: 18px;
  }
}

.trusted .homeheading {
  margin-bottom: 30px;
}
.trusted h3 {
  text-align: center;
}
.trusted .trusted.slider {
  margin: 0 auto 80px;
}
.trusted .trusted.slider {
  width: 88%;
}
.trusted .trusted.slider .slick-slide, .trusted .reviewslider.slider .slick-slide {
  margin: 0px 10px;
}
.trusted .slick-slide img {
  width: initial !important;
  max-width: 100%;
}
.trusted__images {
  margin-bottom: 40px !important;
}
.trusted__reviews .reviews {
  max-width: 368px;
  min-height: 340px;
  background: #24252D;
  border-radius: 10px;
  padding: 32px;
  margin-top: 50px;
}
.trusted__reviews .reviews .reviewtext p {
  margin: 23px 0;
  min-height: 180px;
}
.trusted__reviews .reviewimage {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  align-items: center;
}
.trusted__reviews .reviewimage img {
  padding-right: 10px;
}

@media (max-width: 1024px) {
  .trusted__images {
    justify-content: center;
  }
  .trusted__reviews .reviews {
    max-width: 100%;
  }
}
@media (max-width: 768px) {
  .trusted .trusted.slider {
    width: 100%;
  }
  .trusted__images {
    margin-bottom: 25px !important;
  }
  .trusted__images .slick-slide img {
    width: 100% !important;
  }
  .trusted .slick-dots {
    bottom: -35px;
  }
  .trusted__reviews .reviews {
    padding: 32px 10px;
    display: flex !important;
    justify-content: space-between;
    flex-direction: column;
  }
  .trusted .trusted.slider .slick-slide, .trusted .reviewslider.slider .slick-slide {
    margin: 0px 6px;
  }
  .trusted .slick-list.draggable {
    padding: 0 !important;
  }
}
.slick-dots li.slick-active button:before {
  color: #fff;
}

.slick-dots li button:before {
  color: #fff;
}

.slick-track {
  display: flex !important;
}

.slick-slide {
  height: inherit !important;
}

.slick-list.draggable {
  padding: 0 !important;
}

.solutions .homeheading {
  text-align: center;
}
.solutions .homeheading p {
  font-size: 16px;
}
.solutions__tabs {
  max-width: 1020px;
  margin: auto;
}
.solutions__tabs .homeheading {
  text-align: left;
}
.solutions .tabs {
  cursor: pointer;
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: initial;
  flex-wrap: nowrap;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.solutions .tabs::-webkit-scrollbar {
  display: none;
}
.solutions .panels__details {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: start;
  padding-top: 40px;
}
.solutions .title {
  color: #FFFFFF66;
  margin-bottom: 10px;
}
.solutions .features {
  margin-top: 20px;
  background-color: #000;
}
.solutions .features p {
  margin-bottom: 10px;
  display: flex;
  align-items: flex-start;
}
.solutions .features img {
  margin-right: 6px;
}
.solutions .panels__text {
  max-width: 420px;
}
@media (max-width: 992px) {
  .solutions .panels__text {
    max-width: 100%;
  }
}
.solutions .panel {
  display: none;
}
.solutions .panel.active {
  display: block;
}
.solutions .panels__review {
  max-width: 480px;
  padding: 20px;
  background: #2A2C37;
  border-radius: 16px;
  margin-top: 24px;
}
.solutions .panels__review .text {
  padding-left: 20px;
}
@media (max-width: 992px) {
  .solutions .panels__review {
    max-width: 100%;
  }
}
.solutions .name {
  margin-top: 40px;
  padding-left: 20px;
  border-left: 4px solid #D0F495;
}
.solutions .name p {
  font-size: 14px;
  line-height: 24px;
  color: #fff;
}
.solutions a {
  font-weight: 500;
  color: #FFFFFF99;
  padding: 18px 62px;
  display: inline-block;
  flex-grow: 1;
  border-bottom: 2px solid #25292C;
}
@media (max-width: 768px) {
  .solutions a {
    padding: 15px 14px;
  }
}
.solutions a.active {
  cursor: default;
  font-weight: 600;
  border-image: linear-gradient(89.83deg, #D0F495 0.16%, #5CB7C3 97.29%) 1;
  border-bottom: 2px solid transparent;
}

.features .homeheading {
  text-align: center;
}
.features .homeheading p span {
  font-weight: bold;
}
.features__details {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  flex-wrap: nowrap;
  column-gap: 20px;
}
.features__details .text {
  max-width: 352px;
}
.features__details .text p {
  margin: 20px 0;
}
.features__details:not(:last-child) {
  padding-bottom: 100px;
}
@media (max-width: 768px) {
  .features__details {
    flex-wrap: wrap;
  }
  .features__details .text {
    max-width: 100%;
    padding-top: 30px;
  }
  .features__details:not(:last-child) {
    padding-bottom: 70px;
  }
}

.connectors {
  /* hiding all bullets by default */
  /* only displaying the active bullets and the 2 bullets next to it */
  /* displaying the last three bullets when slick-active class isn't applied to any li before them  */
  /* hiding the last three bullets if slick-active exist before them */
  /* specific conditions to always display the last three bullets */
}
.connectors .homeheading {
  text-align: center;
}
.connectors__images {
  padding: 0 100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: initial;
  gap: 30px 20px;
}
.connectors .slick-track {
  text-align: center;
}
.connectors .slick-dots {
  bottom: -70px;
}
@media (max-width: 1200px) {
  .connectors__images {
    gap: 0px;
    padding: 0;
  }
}
@media (max-width: 768px) {
  .connectors__images {
    justify-content: center;
  }
}
.connectors .slick-dots li {
  display: none;
}
.connectors .slick-dots li.slick-active,
.connectors .slick-dots li.slick-active + li,
.connectors .slick-dots li.slick-active + li + li {
  display: inline-block;
}
.connectors .slick-dots li:nth-last-child(1),
.connectors .slick-dots li:nth-last-child(2),
.connectors .slick-dots li:nth-last-child(3) {
  display: inline-block;
}
.connectors .slick-dots li.slick-active ~ li:nth-last-child(1),
.connectors .slick-dots li.slick-active ~ li:nth-last-child(2),
.connectors .slick-dots li.slick-active ~ li:nth-last-child(3) {
  display: none;
}
.connectors .slick-dots li.slick-active + li + li:nth-last-child(3),
.connectors .slick-dots li.slick-active + li + li:nth-last-child(2),
.connectors .slick-dots li.slick-active + li + li:nth-last-child(1),
.connectors .slick-dots li.slick-active + li:nth-last-child(3),
.connectors .slick-dots li.slick-active + li:nth-last-child(2),
.connectors .slick-dots li.slick-active + li:nth-last-child(1) {
  display: inline-block;
}
.connectors .slick-slide img {
  width: initial !important;
  max-width: 100%;
}

.users .homeheading {
  text-align: center;
}
.users__details {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  border-radius: 10px;
  flex-wrap: nowrap;
  display: flex !important;
  max-width: 950px;
  background-color: #23262B;
  margin: auto;
}
.users__image {
  flex-basis: 30%;
  flex-shrink: 0;
}
.users__image img {
  width: 100% !important;
  max-width: 100% !important;
}
.users img.quote + p {
  margin: 20px 0 30px;
}
.users__text {
  padding: 20px 30px;
  flex-basis: 70%;
}
.users .profile {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  flex-wrap: nowrap;
}
.users .profile div.name {
  flex-shrink: 0;
}
.users .profile p {
  opacity: 0.8;
}
.users .slick-slide {
  margin: 0 15px;
}
@media (max-width: 960px) {
  .users__image {
    flex-shrink: initial;
    flex-basis: 100%;
    text-align: center;
    object-fit: contain;
    height: 327px;
  }
  .users__image img {
    object-fit: cover;
    height: 100%;
    border-radius: 10px 10px 0px 0px;
  }
  .users__details {
    flex-wrap: wrap;
    max-width: 750px;
  }
  .users__text {
    flex-basis: 100%;
    padding: 20px;
  }
  .users img.quote + p {
    margin: 10px 0 20px;
    min-height: 150px;
  }
  .users h4 {
    font-size: 20px;
    line-height: 32px;
  }
  .users .name p {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .users__details {
    max-width: 450px;
  }
  .users .slick-slide {
    margin: 0 6px;
  }
  .users img.quote + p {
    min-height: 360px;
  }
}
@media (max-width: 468px) {
  .users__details {
    max-width: 310px;
  }
}

.pricing .homeheading {
  margin-bottom: 0;
}
.pricing .homeheading p {
  margin: 10px 0 35px;
}
.pricing__details {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.pricing__text {
  flex-basis: 45%;
  padding-top: 60px;
}
.pricing .getademo button {
  padding: 12px 22px;
}
.pricing .plans {
  background: #131415;
  box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.09);
  border-radius: 6px;
  padding: 20px 20px 50px;
  min-width: 285px;
}
.pricing .plans h5 {
  margin: 10px 0 25px;
}
.pricing .plans p {
  padding-bottom: 10px;
}
.pricing .plans a {
  padding-top: 20px;
  display: inline-block;
}
.pricing .plans:last-child {
  margin-top: 50px;
}
@media (max-width: 1200px) {
  .pricing__text {
    flex-basis: 100%;
  }
  .pricing .plans {
    width: 49%;
    margin-top: 20px !important;
  }
}
@media (max-width: 768px) {
  .pricing {
    padding: 75px 0 25px;
  }
  .pricing__details {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }
  .pricing .plans {
    width: 100%;
  }
  .pricing__text {
    flex-basis: 100%;
    padding-top: 0px;
    padding-bottom: 40px;
  }
  .pricing .getademo button {
    padding: 12px 16px;
  }
}

.resources .homeheading {
  text-align: center;
  padding-bottom: 100px;
}
.resources__details {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: initial;
  column-gap: 10px;
}
.resources__card {
  background-color: #2A2C37;
  border-radius: 16px;
  padding: 180px 30px 40px;
  position: relative;
  flex-basis: 31%;
}
.resources img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}
.resources h4 {
  min-height: 112px;
}
.resources p {
  margin: 15px 0 25px;
}
@media (max-width: 1024px) {
  .resources__details {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: initial;
  }
  .resources__card {
    flex-basis: 95%;
    max-width: 373px;
  }
  .resources__card:not(:last-child) {
    margin-bottom: 170px;
  }
}

.turbocharge {
  border-bottom: 1px solid #545050;
}
.turbocharge__details {
  background: linear-gradient(101.44deg, #DEFB9D 0%, #71F79E 37%, #38F9D7 70%, #89C4FE 100%);
  padding: 40px;
  border-radius: 10px;
  max-width: 1040px;
  margin: auto;
}
.turbocharge .homeheading {
  margin-bottom: 30px;
}
.turbocharge h3 {
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .turbocharge .getademo input {
    font-size: 13px;
    padding-left: 6px;
    max-width: 135px;
  }
  .turbocharge .getademo button {
    padding: 12px 6px;
  }
  .turbocharge__details {
    padding: 40px 15px;
  }
}

.slick-list.draggable {
  padding: 0 !important;
}

.slick-dots li.slick-active button:before {
  color: #fff;
}

.slick-dots li button:before {
  color: #fff;
}

.slick-track {
  display: flex !important;
}

.slick-slide {
  height: inherit !important;
}

.slick-list.draggable {
  padding: 0 !important;
}

.slick-dots {
  bottom: -70px;
}

.slick-dots li button:before {
  font-size: 16px;
}

.footer {
  padding-top: 70px;
}
.footer .footerdetails {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: initial;
  gap: 50px;
  flex-wrap: wrap;
}
.footer .footerdetails h3 {
  font-size: 16px;
  font-weight: normal;
  margin: 0 0 30px;
  line-height: 24px;
}
.footer .footerdetails p {
  margin: 0 0 20px;
  font-size: 13px;
  line-height: 24px;
}
.footer .footerdetails .social-media-icons img {
  margin-right: 10px;
}
.footer__links:nth-child(1) {
  flex-basis: 32%;
}
.footer__links:nth-child(1) img {
  margin-bottom: 23px;
}
.footer__links {
  flex: 0 1 16%;
}
.footer__links ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer__links li a {
  font-size: 13px;
  line-height: 22px;
  margin-bottom: 20px;
  display: inline-block;
}
.footer__links li a:hover {
  text-decoration: underline;
}
.footer .copyrights {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px 0 40px;
}
.footer .copyrights span {
  line-height: 24px;
}
.footer .copyrights span:nth-child(1) {
  font-size: 13px;
}
.footer .copyrights span:nth-child(2) {
  font-size: 12px;
}

@media (max-width: 992px) {
  .footer .footerdetails {
    gap: 0px;
  }
}
@media (max-width: 768px) {
  .footer {
    padding-top: 75px;
  }
  .footer__links {
    flex-basis: 100%;
    padding-bottom: 15px;
  }
  .footer__links:nth-child(1) {
    flex-basis: 100%;
  }
  .footer .footerdetails {
    padding-bottom: 0;
  }
  .footer .copyrights {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
}
.footer {
  padding-top: 70px;
}
.footer .footerdetails {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: initial;
  gap: 50px;
  flex-wrap: wrap;
}
.footer .footerdetails h3 {
  font-size: 16px;
  font-weight: normal;
  margin: 0 0 30px;
  line-height: 24px;
}
.footer .footerdetails p {
  margin: 0 0 20px;
  font-size: 13px;
  line-height: 24px;
}
.footer .footerdetails .social-media-icons img {
  margin-right: 10px;
}
.footer__links:nth-child(1) {
  flex-basis: 32%;
}
.footer__links:nth-child(1) img {
  margin-bottom: 23px;
}
.footer__links {
  flex: 0 1 16%;
}
.footer__links ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer__links li a {
  font-size: 13px;
  line-height: 22px;
  margin-bottom: 20px;
  display: inline-block;
}
.footer__links li a:hover {
  text-decoration: underline;
}
.footer .copyrights {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px 0 40px;
}
.footer .copyrights span {
  line-height: 24px;
}
.footer .copyrights span:nth-child(1) {
  font-size: 13px;
}
.footer .copyrights span:nth-child(2) {
  font-size: 12px;
}

@media (max-width: 992px) {
  .footer .footerdetails {
    gap: 0px;
  }
}
@media (max-width: 768px) {
  .footer {
    padding-top: 75px;
  }
  .footer__links {
    flex-basis: 100%;
    padding-bottom: 15px;
  }
  .footer__links:nth-child(1) {
    flex-basis: 100%;
  }
  .footer .footerdetails {
    padding-bottom: 0;
  }
  .footer .copyrights {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
}

/*# sourceMappingURL=styles.css.map */
