$font-stack: 'DM Sans', sans-serif;

$gradient: linear-gradient(101.44deg, #DEFB9D 0%, #71F79E 37%, #38F9D7 70%, #89C4FE 100%);

@mixin d-flex($justify: initial, $align: initial) {
    display: flex;
    justify-content: $justify;
    flex-wrap: wrap;
    align-items: $align;
}

img{
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6, p, a, span, li{
    font: $font-stack;
}

*{
    box-sizing: border-box;
}

body{
    font-family: $font-stack;
    margin: 0; 
}

.container{
    margin: auto;
}

section{
    padding: 100px 0;
}

@media (min-width: 1150px){
    .container{
        padding-left: 20px;
        padding-right: 20px;
    }
}
@media (min-width: 1270px){
    .container{
        max-width: 1200px;
    }
}

@media (max-width: 1150px){
    .container{
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 768px){
    .container{
        padding-left: 16px;
        padding-right: 16px;
    }
    section{
        padding: 75px 0;
    }
}
 