.footer{

    padding-top: 70px;    

    .footerdetails{

        @include d-flex($justify:space-between);
        gap: 50px;
        flex-wrap: wrap;
        
    
        h3{
            font-size: 16px;
            font-weight: normal;        
            margin: 0 0 30px;
            line-height: 24px;
        }
    
        p{
            margin: 0 0 20px;
            font-size: 13px;
            line-height: 24px;
        }
    
        .social-media-icons{
            img{
                margin-right: 10px;
            }
        }
    
    }

    &__links:nth-child(1){
        flex-basis: 32%;
        img{
            margin-bottom: 23px;
        }
    }

    &__links{

        flex: 0 1 16%;

        ul{
            list-style-type: none;
            margin: 0;
            padding: 0;

        }
        
        li a{
            font-size: 13px;
            line-height: 22px;
            margin-bottom: 20px;
            display: inline-block;
            &:hover{
                text-decoration: underline;
            }
        }
        
    }
    
    .copyrights{

        @include d-flex($justify: space-between, $align: center);
        padding: 20px 0 40px;

        span{
            
            line-height: 24px;
            &:nth-child(1){
                font-size: 13px;
            }
            &:nth-child(2){              
                font-size: 12px;
            }
        }
    }

}

@media (max-width: 992px){
    .footer{
        .footerdetails{
            gap: 0px;                        
        } 
    }
}

@media (max-width: 768px){
    .footer{        
        padding-top: 75px;     
        &__links{
            flex-basis: 100%;
            padding-bottom: 15px;
        }
        &__links:nth-child(1){
            flex-basis: 100%;
        }
        .footerdetails{
            padding-bottom: 0;
        }
        .copyrights{
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;
        }
    }
}