@use "sass:math";
header{
    padding: 7px 0;
    position: sticky;
    top: 0;
    z-index: 1;
}

nav{

    @include d-flex($align:center,$justify:space-between);

    a{
        text-decoration: none;
    }
    
    .logo {
        font-size: 20px;
        font-weight: normal;
        @include d-flex($align:center);

        img{
            padding-right: 50px;
        }

    }

    .nav-links ul li{
        padding: 20px 0;
    }
    .nav-links ul{
        @include d-flex($align:center,$justify:initial);
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    .nav-links ul li a{
        padding: 0 25px;
        font-weight: normal;
        text-decoration: none;
        font-size: 15px;
        line-height: 1.25rem;
    }

    #nav-toggle{
        display: none;
        cursor: pointer;
    }

    div#nav-toggle span {
        border-bottom: 2px solid #fff;
        width: 22px !important;
        height: 2px;
    }

}

@media(max-width: 1400px){
    
    .nav-links ul li a {
        padding: 0 10px;
    }
    .nav-links {
        flex: initial;
    }
    .nav-links ul li {
        padding: 0px;
    }
    nav .logo {
        img{
            padding-right: 0px;
        }
    }

}

@media (max-width:1200px){
    
    header .container{
        max-width: 100%;
        padding: 0 15px;
    }  

    nav{

        justify-content: space-between;
        padding: 10px 0;

        #nav-toggle {
            display: initial;
        }
        
        .nav-links{
            display: none;
        }
        
        .nav-links.active + div#nav-toggle span:nth-child(1) {
            transform: rotate(45deg);
        }
        
        .nav-links.active + div#nav-toggle span:nth-child(2) {
            transform: translateY(-6px) rotate(137deg);
        }
        
        .nav-links.active + div#nav-toggle span:nth-child(3) {
            display: none;
        }
            
        .nav-links.active {
            @include d-flex($align:center, $justify: left);
            position: absolute;
            flex-direction: column;
            top: 55px;
            left: 0;
            width: 100%;
            z-index: 1;
            padding: 0 15px;
        }  
        
        .nav-links ul li a{
            padding: 0;
            width: 100%;
            display: block;
        }
        
        .nav-links.active ul li {
            padding: 15px 0px;
            text-align: left !important;
        }
        
        .nav-links.active ul {
            flex-direction: column;
        }
        
        .nav-links.active {
            @include d-flex($align:center,$justify:initial);
            padding-bottom: 100px;
            flex-direction: column;
        }
        
        .nav-links ul{
            align-items: flex-start;
            width: 100%;
        }
        
        .nav-links ul li{
            width: 100%;
        }   
        
        div#nav-toggle {
            display: flex;
            flex-direction: column;
            gap: 5px;
        }

    }

}
