@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@import 'reset';

@import 'base';

@import 'header';

//*********************************************** homebase start **********************************
.homeheading{

    margin-bottom: 60px;

    h3 + p{
        margin-top: 8px;
    }    

    h2 + p{
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
    }

}

.textgradient{
    background: linear-gradient(to right, #D0F495 43.71%, #5CB7C3 142.13%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

a.link{
    color: #60CA9A;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: initial;
}


@media (max-width:768px){
    .getademo{
        display: flex;
        justify-content: space-between;
    }
}
//*********************************************** homebase end ************************************

//*********************************************** homebanner start ********************************
.homebanner{
    padding: 40px 0 0;
    &__details{
        @include d-flex($justify:space-between,$align:center);
        column-gap: 20px;
        flex-wrap: nowrap;
    }
    &__text{
        flex-basis: 38%;
        h1{
            font-family: $font-stack;
            font-size: 48px;
            font-style: normal;
            font-weight: 700;
            line-height: 63px;
            letter-spacing: 0px;
            span{
                font-size: 51px;
                font-style: normal;
                font-weight: 700;
                line-height: 63px;
                display: block;
            }
        }
        h1 + p{
            margin: 20px 0 30px;
        }
    }
    .investors{
        padding-left: 16px;
        p{
            color: #777777;
            margin: 30px 0 10px;            
        }   
    }
    .inverstorsimage{
        display: flex;
        gap: 30px;

    }

    &__image{
        p{
            text-align: right;
        }
    }

    @media (max-width:768px){
        h1, h1 span{
            font-size: 44px;
            line-height: 56px;
        }
        &__text{
            flex-basis: 100%;
        }
        &__details{
            flex-wrap: wrap;
        }
        .investors{
            padding-left: 0px;
            p{
                margin: 20px 0 6px;
            }  
        }     
        &__image{
            padding-top: 30px;
            p{
                text-align: center;
                line-height: 30px;
                margin-top: 15px;
                font-size: 18px;
            }
        }                 
    }
}
//*********************************************** homebanner end **********************************

//*********************************************** trusted start *******************************
.trusted{

    .homeheading{
        margin-bottom: 30px;
    }

    h3{
        text-align: center;
    }

    .trusted.slider{
        margin: 0 auto 80px;
    }

    .trusted.slider {
        width: 88%;
    }

    .trusted.slider .slick-slide, .reviewslider.slider .slick-slide {
        margin: 0px 10px;
    }

    .slick-slide img{
        width: initial !important;
        max-width: 100%;
    }

    &__images{
        margin-bottom: 40px !important;
    }

    &__reviews{
        .reviews{
            max-width: 368px;
            min-height: 340px;
            background: #24252D;
            border-radius: 10px;
            padding: 32px;
            margin-top: 50px;

            .reviewtext{
                p{
                    margin: 23px 0;
                    min-height: 180px;
                }
            }
        }
        .reviewimage{
            @include d-flex($justify:start,$align:center);

            img{
                padding-right: 10px;
            }
        }
    }
      
}

@media (max-width:1024px){
    .trusted{
        &__images{
            justify-content: center;      
        }
        &__reviews{
            .reviews{
                max-width: 100%;
            }
        }        
    }    
}

@media (max-width:768px){
    .trusted{
        .trusted.slider {
            width: 100%;
        }  

        &__images{
            margin-bottom: 25px !important;
            .slick-slide img{
                width: 100% !important;
            }
        }

        .slick-dots {
            bottom: -35px;
        }
        
        &__reviews{
        
            .reviews{
                padding: 32px 10px;
                display: flex !important; 
                justify-content: space-between;
                flex-direction: column;
            }
        }
        .trusted.slider .slick-slide, .reviewslider.slider .slick-slide {
            margin: 0px 6px;
        }
        .slick-list.draggable {
            padding: 0 !important;
        }
        
    }      
}

.slick-dots li.slick-active button:before{
    color: #fff;
}
.slick-dots li button:before{
    color: #fff;
}

.slick-track
{
    display: flex !important;
}

.slick-slide
{
    height: inherit !important;
}

.slick-list.draggable {
    padding: 0 !important;
}
//*********************************************** trusted end *********************************

//*********************************************** solutions ***********************************
.solutions{

    .homeheading{
        text-align: center;
        p{
            font-size: 16px;
        }
    }

    &__tabs{
        max-width: 1020px;
        margin: auto;

        .homeheading{
            text-align: left;
        }          
    } 

    .tabs {
        cursor: pointer;
        text-align: center;
        @include d-flex($justify:space-between);
        flex-wrap: nowrap;
        overflow-x: scroll;            
        &::-webkit-scrollbar {
            display: none;
        }
        -ms-overflow-style: none; 
        scrollbar-width: none; 
    }

    .panels__details{
        @include d-flex($justify:space-between,$align:start);      
        padding-top: 40px;      
    }

    .title{
        color: #FFFFFF66;
        margin-bottom: 10px;
    }

    .features{
        margin-top: 20px;
        background-color: #000;
        p{
            margin-bottom: 10px;
            display: flex;
            align-items: flex-start;
        }
        img{
            margin-right: 6px;
        }
    }  

    .panels__text{
        max-width: 420px;
        @media (max-width:992px) {
            max-width: 100%;
        }
    }
    
    .panel {
        display: none;
    }
    .panel.active {
        display: block;
    }        

    .panels__review{
        max-width: 480px;
        padding: 20px;
        background: #2A2C37;
        border-radius: 16px;
        margin-top: 24px;
        .text{
            padding-left: 20px;
        }
        @media (max-width:992px) {
            max-width: 100%;
        }
    }

    .name{
        margin-top: 40px;
        padding-left: 20px;
        
            border-left: 4px solid #D0F495;
        
        p{
            font-size: 14px;
            line-height: 24px;
            color: #fff;
        }
    }

    a{
        font-weight: 500;
        color: #FFFFFF99;
        padding: 18px 62px;
        display: inline-block;
        flex-grow: 1;
        border-bottom: 2px solid #25292C;
        
        @media (max-width:768px) { 
            padding: 15px 14px;
        }
    }
    a.active{
        cursor: default;
        font-weight: 600;
        border-image: linear-gradient(89.83deg, #D0F495 0.16%, #5CB7C3 97.29%) 1;
        border-bottom: 2px solid transparent;
    }
}
//*********************************************** solutions ***********************************

//*********************************************** features start ******************************
.features{

    .homeheading{
        text-align: center;
        p{
            span{
                font-weight: bold;
                ;
            }
        }
    }

    &__details{
        @include d-flex($justify:space-between,$align:center);
        flex-wrap: nowrap;
        column-gap: 20px;
        .text{
            max-width: 352px;
            p{
                margin: 20px 0;
            }
        }

        &:not(:last-child){
            padding-bottom: 100px;
        }
    }

    @media (max-width: 768px) {
        &__details{
            flex-wrap: wrap;

            .text{
                max-width: 100%;
                padding-top: 30px;
            }
            &:not(:last-child){
                padding-bottom: 70px;
            }
        }
    }
}
//*********************************************** features end ********************************

//*********************************************** connectors start ****************************
.connectors{
    
    .homeheading{
        text-align: center;
    }
    &__images{
        padding: 0 100px;
        @include d-flex($justify:space-between);   
        gap: 30px 20px;   
    }

    .slick-track{
        text-align: center;
    }

    .slick-dots{
        bottom: -70px;
    }

    @media (max-width:1200px) {
        &__images{
            gap: 0px;
            padding: 0;
        }
    }
    @media (max-width:768px) {
        &__images{
            justify-content: center;
        }
    }

    /* hiding all bullets by default */
    .slick-dots li {
        display: none
    }
    /* only displaying the active bullets and the 2 bullets next to it */
    .slick-dots li.slick-active,
    .slick-dots li.slick-active + li,
    .slick-dots li.slick-active + li + li {
        display: inline-block;
    }
    /* displaying the last three bullets when slick-active class isn't applied to any li before them  */
    .slick-dots li:nth-last-child(1),
    .slick-dots li:nth-last-child(2),
    .slick-dots li:nth-last-child(3) {
        display: inline-block;
    }
    /* hiding the last three bullets if slick-active exist before them */
    .slick-dots li.slick-active ~ li:nth-last-child(1),
    .slick-dots li.slick-active ~ li:nth-last-child(2),
    .slick-dots li.slick-active ~ li:nth-last-child(3) {
        display: none;
    }
    /* specific conditions to always display the last three bullets */
    .slick-dots li.slick-active + li + li:nth-last-child(3),
    .slick-dots li.slick-active + li + li:nth-last-child(2),
    .slick-dots li.slick-active + li + li:nth-last-child(1),
    .slick-dots li.slick-active + li:nth-last-child(3),
    .slick-dots li.slick-active + li:nth-last-child(2),
    .slick-dots li.slick-active + li:nth-last-child(1){
        display: inline-block;
    }

    .slick-slide img{
        width: initial !important;
        max-width: 100%;
    }

}
//*********************************************** connectors end ******************************

//*********************************************** users start *********************************
.users{
    .homeheading{
        text-align: center;
    }

    &__details{
        @include d-flex($justify:center,$align:center);
        border-radius: 10px;
        flex-wrap: nowrap;        
        display: flex !important;
        max-width: 950px;
        background-color: #23262B;
        margin: auto;       
    }

    &__image{
        flex-basis: 30%;
        flex-shrink: 0;
        img{
            width: 100% !important;
            max-width: 100% !important;
        }
    }

    img.quote + p{ 
        margin: 20px 0 30px;      
    }

    &__text{   
        padding: 20px 30px;
        flex-basis: 70%;
    }
    .profile{
        @include d-flex($justify:space-between,$align:center);
        flex-wrap: nowrap;
        div.name{
            flex-shrink: 0;
        }
        p{
            opacity: 0.8;
        }
    }

    .slick-slide {
        margin: 0 15px;
    }

    @media (max-width:960px) {
        &__image{
            flex-shrink: initial;
            flex-basis: 100%;
            text-align: center;
            object-fit: contain;
            height: 327px;
            img{
                object-fit: cover;
                height: 100%;
                border-radius: 10px 10px 0px 0px;
            }
        }
        &__details{
            flex-wrap: wrap;
            max-width: 750px;
        }
        &__text{
            flex-basis: 100%;
            padding: 20px;
        }
        img.quote + p{
            margin: 10px 0 20px;  
            min-height: 150px; 
        }
        h4{
            font-size: 20px;
            line-height: 32px;
        }
        .name{
            p{
                font-size: 16px;
            }
        }
    }
    @media (max-width:768px) {
        &__details{
            max-width: 450px;
        }
        .slick-slide {
            margin: 0 6px;
        }
        img.quote + p{
            min-height: 360px; 
        }
    }
    @media (max-width:468px) {
        &__details{
            max-width: 310px;
        }
    }
    
}
//*********************************************** users end ***********************************

//*********************************************** pricing start *******************************
.pricing{
    .homeheading {
        margin-bottom: 0;
        p{
            margin: 10px 0 35px;
        }
    }

    &__details{
        @include d-flex($justify:space-between,$align:center);
    }
    &__text{
        flex-basis: 45%;
        padding-top: 60px;
    }
    .getademo button{
        padding: 12px 22px;
    }

    .plans{
        background: #131415;
        box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.09);
        border-radius: 6px;
        padding: 20px 20px 50px;
        min-width: 285px;

        h5{
            margin: 10px 0 25px;
        }
        p{
            padding-bottom: 10px;
        }
        a{
            padding-top: 20px;
            display: inline-block;
        }
    }
    .plans:last-child{
        margin-top: 50px;
    }

    @media (max-width:1200px){
        &__text{
            flex-basis: 100%;
        }
        .plans{
            width: 49%;
            margin-top: 20px !important;
        }
    }

    @media (max-width:768px){
        padding: 75px 0 25px;
        &__details{
            @include d-flex($justify:space-between,$align:center);
        }
        .plans{
            width: 100%;            
        }
        &__text{
            flex-basis: 100%;
            padding-top: 0px;
            padding-bottom: 40px;
        }
        .getademo button{
            padding: 12px 16px;
        }
    }
}
//*********************************************** pricing end *********************************

//*********************************************** resources start *****************************
.resources{
    .homeheading{
        text-align: center;
        padding-bottom: 100px;
    }

    &__details{
        @include d-flex($justify:space-between);   
        column-gap: 10px;     
    }

    &__card{
        background-color: #2A2C37;
        border-radius: 16px;
        padding: 180px 30px 40px;
        position: relative;
        flex-basis: 31%;  
    }

    img{
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    h4{
        min-height: 112px;
    }

    p{
        margin: 15px 0 25px;
    }

    @media (max-width:1024px) {
        &__details{
            @include d-flex($justify:space-evenly);        
        }
        &__card{
            flex-basis: 95%;   
            max-width: 373px;   
            &:not(:last-child){
                margin-bottom: 170px;
            }
        }
    }

}
//*********************************************** resources end *******************************

//*********************************************** turbocharge start ***************************
.turbocharge{
    border-bottom: 1px solid #545050;

    &__details{
        background: $gradient;
        padding: 40px;
        border-radius: 10px;
        max-width: 1040px;
        margin: auto;
    }

    .homeheading{
        margin-bottom: 30px;
    }

    h3{
        margin-bottom: 10px;
    }
    
    @media (max-width:768px) {
        .getademo {
            input{
                font-size: 13px;
                padding-left: 6px;
                max-width: 135px;
            }
            button{
                padding: 12px 6px;
            }
        }
        &__details{
            padding: 40px 15px;
        }
    }
}
//*********************************************** turbocharge end *****************************


.slick-list.draggable {
    padding: 0 !important;
}
.slick-dots li.slick-active button:before{
    color: #fff;
}
.slick-dots li button:before{
    color: #fff;
}

.slick-track
{
    display: flex !important;
}

.slick-slide
{
    height: inherit !important;
}

.slick-list.draggable {
    padding: 0 !important;
}

.slick-dots{
    bottom: -70px;
}

.slick-dots li button:before{
    font-size: 16px
}
    

@import 'footer';

